//https://sass-lang.com/documentation/at-rules/mixin
/*
@mixin colores ($fondo, $articulo){
    body {
        background: $fondo;
    }

    .articulo {
        background: $articulo;
    }
}

@include colores(#ff8000,#fff ) 
*/
//antes cuano los naveg no soportaban border radius se usaba de este modo:
/*--------------- otro ejemplo ---------------------------*/

@mixin borde-redondeado ($pixeles) {
    border-radius: $pixeles;
    -moz-border-radius: $pixeles;
    -webkit-border-radius: $pixeles;
    -ms-border-radius: $pixeles;
    -o-border-radius: $pixeles;
}

article {
    @include borde-redondeado (5px);
}

footer {
    @include borde-redondeado (15px)  //no olvidar el @include
}



//sirve para reutilizar el codigo
//no se utilizan mucho, dice que lo usan personas que hacen fremaworks tipo bootstrap

// >>>> https://sass-lang.com/documentation/modules  aca hay funciones que se usan

/*--------------- otro ejemplo ---------------------------*/
/* aca usamos una funcion de sass rgba que lo reconoce el css

article {
    background: rgba(#ff8000, .5);
}

*/