* {
	padding: 0;
	margin: 0;
}

body {
	color: #fff; /*color de fuente*/
	font-family: Arial ;
	line-height: 22px;
}

.caja {
	background: #0353a4;
	width: 200px;
	/*height: 200px;cuando se trabaja con cajas no se pone el alto, solo el ancho (Width)porque sino el texto se desborda*/

  /*margin: 20px; *margin = margen exterior: se puede poner dos valores tambien separados de espaco
	el primer valor hace referencia a top y bottom, y el segundo valor a 
	left y right*/


	/*margin: 20px 10px 5px 0px; si ponemos asi seria = que decir
	que queremos un margen de 20 pixeles arriba, 10px a la derecha,
	5px abajo y a la izq 0 pixeles ( en sentido de la aguja de relog)*/

	/*seria lo mismo que hacer esto: 
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-left: 0px; 
	*/
	margin: 20px;/*margen exteror hacia todos los lados*/

	padding: 20px;/*margen interior, desde el contenido hacia los bordes*/
	/*asi como definimos los margenes arriba podemos hacer con los padding*/


	border: 10px solid red; /*se aborda el temas mas adelante por los diferentes tipo de bordes*/
}

.caja p {
	background: #000;
}
