* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;/*para no tener que calcular los valores del ancho de .main y el aside para que nos dé 1000px que es el contenedor. se pone esto y te lo calcula solo, sin importar el padding(margen interior) */
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	background: #f2f2f2;
	font-family: Arial, sans-serif;
}

.contenedor {
	width: 1000px;
	background: #ccc;
	margin: 20px auto ; /*margen arriba y abajo de 20px y 0 a los lados*/
	/*centramos poniendo auto a los lados en margin !!!!!!!!!!*/
}

header {
	background: #30323d;
	color: #fff;
	padding: 20px;
}
.main {
	background: #fff;
	padding: 20px;
	/*width: 700px;660px;     habiamos puesto 700px y si sumamos el padding por cada lado se nos va a 740px ,recordemos que el contenedor mide 1000px asi ue vamos a restarle a los 740 para que nos de 1000 junto con el aside.*/
	width: 70%;/*se puede poner en porcentaje y es mejor,se usa con box-sizing, para que nos calcule */
	float: left;

}
aside {
	background:#e8c547;
	color: #fff;
	padding: 20px;
	/*width: 300px;260px       ;aca habiamos puesto 300px pero con el padding se nos va a 340. tenemos que hacer que nos de 300px con el padding incluido! para que nos dé 1000px con el main. ya que el contenedor mide 1000px*/
	width: 30%;/*se puede poner en porcentaje y es mejor, se usa con box-sizing, para que nos calcule */
	float: left;

}
footer {
	clear: both;/*para solucionar el problema de los floats, porque como el aside no entra al lado del main. va a ponerse ahi este footer. para que eso no pase se pone esta propiedad, asi el footer va abajo de todo*/
	background: #4d5061;
	padding: 20px;
	color: #fff;
}