* {
	padding: 0; /*margen interior*/
	margin: 0;	/*margen exterior*/

}

body {
	background: #f2f2f2;
	font-family: Arial;
}
.cajaPadre {
	width: 700px;
	background: #2e294a;


	/*para solucionar el error como 2da opcion y mas correcta es usar overflow en el contenedor que los esta encerrando*/
	overflow: hidden; /*hay que usarlo para solucionar el error*/


}

.caja {
	width: 200px;
	color: #fff;
	font-size: 38px;
	height: 200px;
	background: #0e6ba8;
	margin: 20px;
}
.uno {
	float: left;

}


.dos {
float: right;

}

 /* para solucionar el error de posicionar dos elementos con float se usa clear asi como ejemplo 
.clear {
	clear: both;
} */
/*############################ ejemp de para que se invento la propiedad float
para ser usada en texto para rodear una imagen*/
.articulo {
	width: 800px;
	background: yellow;
}
/* para que el texto del parrafo rodee la img debemos ingresar desde la class articulo img y darle float a la imagen */

.articulo img {
	float: left;
}


