* {
	padding: 0;
	margin: 0;
}
body {
	background:#f2f2f2 ;
}




/*como es un div es un elem de tipo bloque le vamos a decir que tenga ancho y alto*/
.caja {
	width: 200px;
	height: 200px;
	background: #0e6ba8;
	margin: 20px;/*espaciado entre las cajas*/

}
.posicionada {
	background: #6695e8;
	/*position: static; por defecto*/


	/*position: relative; con relative nos permite moverla desde su posicion a donde queramos
	top: 50px;/*aca la estamos enpujando paraa abajo 50px ,debemos usar 2 atrubutos no contrarios top o bottom, o Right o left
	right: ;
	bottom: ;
	left:200px ;/*le estamos corriendo 200px a la derecha, como si la empujara*/


	/*position: absolute;
	top: 100px;/*no es empujar sino jalar para arriba esos 100 pixeles
	right: ;
	bottom: ;
	left:220px ; /*con absolute los demas elementos hacen de cuanta qie este no existe, por lo tanto ocupan su lugar.
	a diferencia de relative que respetan su lugar y dejan ese espacio*/



	position: fixed; /*queda fijo en la pantalla en relacion al punto de vista del user*/

	top: ;
	right: 0%; /*podemos hacer uso de porcentaje en lugar de px*/
	bottom:0% ;
	left: ;

	/*fixed se usa mucho para menus de navegacion como ejem0plo facebook tiene su nav que nunca se va de pantalla*/


}


/* 
Tipos de Posicionamiento:

- Static (Normal o predefinida) : Posiconamiento por defecto que los navegadores ponen por defecto.

- Ralative (Relativo): Nos permite posicionar una caja y despues moverla desde su lugar original.

- Absolute (Absoluta): Nos permite Posicionar una caja respecto a su contenedor y el
resto de los elementos ignoran la nueva posicon.

-Fixed (Fijo): Nos permite posicionar una caja en donde su posicion respecto a la 
pantalla del user va a ser siempre la misma.

-Float (flotante  : Nos permite desplazar las cajas que estan en bloque todas a su derecha 
 o izq . actua como si fueran en linea. )



 */