* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; /*estos 3 se usan para que por ejemplo si tenemos un div
	con un width: 200px y un padding de 20px, no se sumen dandonos por ejemplo 240px (20 por cada lado de padding)*/
}

body {
	background: #f2f2f2;
	font-family: Arial, sans-serif;
}
.formulario {
	background: #fff;
	width: 500px;
	margin: 20px auto; /*por ultimo centramos el foprmulario*/
	/*margin: 20px;*/
	padding: 20px;
	border-radius: 5px;
}
/*detalle: los inputs son de tipo linea */
.formulario input {
	display: block; /*con esto en lugar de estar uno al lado del otro(porque estaba en linea)se pongan abajo. abajo le vamos a poner que ocupe el 100% del ancho del contenedor con un width 100%*/
}

/*ahora le ponemos a todo el contenido un ancho, alto...*/

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
	width: 100%; /*para que ocupe el 100% del ancho del contenedor padre*/
	padding: 20px; /*margen interno*/
	margin-bottom: 20px;/*margen externo solo abajo 20 pixeles*/
	border-radius: 3px; /*borde redondeado*/
	border: 1px solid #226fc1;/* estilo y color al borde*/
	font-size: 16px;
	font-family: Arial;
	
}

/* si arrastramos el area de texto se desborda del contenedor, para que no pase eso hacemos: */
.formulario textarea {
	min-height: 120px;/*alto minimo*/
	max-height: 300px;/*alto max*/
	min-width: 100%;
	max-width: 100%; /*ponemos min y max 100% del ancho para que no lo pueda modificar arrastrando el text area*/

}

.formulario input[type="text"]:focus,/*estado :focus en los 3 (cuando estan SELECCIONADOS)*/
.formulario input[type="email"]:focus,
.formulario textarea:focus {
	border: 3px solid #4fb560;
}






/* el boton */

.formulario input[type="submit"] {
	width: 200px;
	margin: 0 auto;/*0 arriba y abajo ,y a los lados automatico para que quede centrado*/
	padding: 10px;
	border: 1px solid #4fb560;
	color: #4fb560;
	background: none;
	cursor: pointer;/*al pasar el mouse cambia a una manito*/
	border-radius: 3px;
	font-size: 16px;
	
}
.formulario input[type="submit"]:hover {
	background: #4fb560;
	color: #fff;
}

