/* ------------------selector children = hijos */
 /* nos permite seleccionar por ejemplo todos los parrafos que 
 son hijos, por ejemplo : */

/*
 div p { 
 	font-size: 20px;
  }

  */
  /* de esta forma lo que hace es que todos los parrafos 
  que estan dentro de un div les da este estilo, sin importar por ej
  que este asi: div/article/p "lorem sdfdf " en este caso le da estilo igual*/



  /* para especificar que solo se le de estilo a los hijos directos
  se le aplica > MAYOR QUE (de cierre de etiqueta) 
   */

  div > p {
  	font-size: 30px;
  }

  /* -------------------selector de atributos 

  ejemplo*/

  input [type] {

  }

  /* se le aplica estilo a todos los atrib tipo TYPE */


  /* otro mas avanzado nos permite darle estio a los atrib y valor */

  input [type="text"] {

  }
  /* se utiliza mucho para lo que es formularios 
  por ejemplo quiero que a los de tipo text, tipo contraseña, tipo mensaje 
  me los selecciones*/

  /* ---------------Herencia */
  /* si por ejemplo tenemos un selector body con un estilo, todo lo que este dentro
  del body lo va a heredar */

  body {
  	font-size: 20px;
  	color: blue;
  }

  /* los estilos algunos se heredan a sus hijos  a menos que 
  le digamos que a estos hijos le aplicamos estilos propios
  por ejemplo*/

  article {
    font-size: 16px;
    color: green;
  }







