/* -------------------------Selector Universal
*{
	color: red;
}
*/
/* -----------------------Selectores de etiqueta */
h1, h2, h3{
	color: green;
}

h2	{
	color: red; 
} /* aca cambiamos el color del h2 y como es en linea lo toma */



/*aca le estamos diciendo a todas los parrafos etq. P los quiero de 20 pixeles y color salmon
p {
	font-size: 20px;
	color: darksalmon;
}
*/

/* --------------------------Selectores desendentes 
nos permite seleccionar etiquetas que estan dentro de otra etiqueta
*/

div p {
	font-size: 20px;
	color: brown;
}

div article p {
	color:orange;
} /* aca nos metemos por capas para darle estilo a los parrafos que estan dentro de un articl y de un div */

p a {
	color: red;
} /* le damos estilo a un enlace que está dentro de un parrafo */
/* fin parte 1 
 --------------------------------------------------- */

/* --------------------selector de clase   class */
/* se lo identifica con un punto y luego el nomrbre de la class */
.grande {
	font-size: 28px;
}
.color {
	color: cadetblue;
}
/* se le puede asignar mas de una class a una etiqueta html */
/* se pueden reutilizar las class en muchas etiquetas html, es decir repetidas veces */

/* -----------------------Selector Id */
/*  se lo identifica con el simbolo de hastag # = ID */

#grande {
	font-size: 28px;

}

/* no se recomienda usar ID para css ya que cada id es unica y no se puede repetir */
/* las Id hay que usarla con Javascript */

/* fin de selectores parte 2   
-----------------------------------------------------*/


