body {
	font-family: Arial, ;
}

table, th, td {
	border: 1px solid rgba(0, 0, 0, .2); /*mejoramos el borde con la opacidad*/
} /* aca le  estamos ponendo borde a todo, y como se ve maso vamos a ponerle borde colapse abajo */

table {
	border-collapse: collapse; /*con esto se ve mejor*/
	width: 500px;/*a la tabla le ponemos un ancho!!!!!!!!!*/
	text-align: center; /*centramos el contenido*/
}

th, td {
	padding: 10px 20px; /*le damos margen interno*/
}

th {
	background: #009ddc;
	color: #fff;
}

tr:hover {
	background: #e5e5e5; /*gris suave*/
}