.caja {
	width: 200px;
	height: 200px;
	background: #21295c;
	transition: all .3s ease;/*en lugar de background podriamos poner (all)para ponerle la transcicion a todo. dato:  ease es una funcion de tiempo*/
	/*transition-delay: 2s;luego de los 2seg se ejecuta la transicion*/
}

.caja:hover {
	background: #9eb3c2;
	/*width: 400px;*/
	transform: rotate(180deg);
}


/*la transicion parece una animacion pero no lo es .*/

/* Velocidad de curva:
ease -inicio lento. despues rapido y termina lento.
linear- misma velocidad de inicio a fin.
ease-in -inicio lento.
ease-out -final lento.
ease-in-out -inicio lento y final lento */