.caja {
	width: 200px;
	height: 200px;
	/*background: navy; hay 17 palabras clave de colores para usar*/
	/*background: rgb(255, 65, 32);*/
	background: rgba(84%, 15%, 24%, .2);/*con "a" que significa transparencia y se pone 0.1 o .2   por ejemplo*/
	/*background: #328bf0;  exadecimal*/


}

/*
recursos :
https://html-color-codes.info/codigos-de-colores-hexadecimales/?
https://coolors.co


*/