body {
	font-size: 16px;
}
/* algunos navegadores definen 16px automaticamente para visualizar el texto */
p {
	 font-size: 1.5em;/*aca 1em es igual al que definmos en el body = 20px*/
}
/* suponemos que si queremos q el texto del parrafo sea de 30 pixeles
debemos hacer el calculo de 30 que queremos dividido 20 definido en el padre = 1.5 em */

/*div {
	width: 200px;
	height: 200px;
	background: black;
}
si lo hariamos en em seria asi: 200px que queremos dividido 20px definidos en el elem mas cercano= 10 em */

div {
	width: 10em;
	height: 10em;
	background: #e1e1e1	;

}
/* si el cliente quiere que el texto de toda la pag se vea mas chico o mas grande
solo tendriamos que cambiar la medida px en el body por ejemplo. porque los em dependen del 
tamaño definido en px en el padre o contenedor mas cercano*/

/*===============================================================*/


.contenedor_padre {
	font-size: 50px;
}





.hijo {
	width: 10em;
	height: 10 em;
	background: #C4C4C4;
	color: #F1B138;
}
/*la caja crece para ajustarse por el contenido, por eso depende del tamaño del font size del contnedor padre*/

 /* y si quisieramos que el .hijo tome la medida del body tendriamos que 
 usar rem  


 .hijo {
	width: 10rem;
	height: 10 rem;
	background: green;
	color: wheat;
}
*/

/* Unidades Relativas
px  = Pixel
em  - Relativa al tamaño de fuente que tenga su elemento padre o el mas cercano
rem - Relativa al tamaño de fuente especificado en el body
% - porcentaje


Unidades Absolutas

estas medidadas no se usan nunca en Diseño web.
in - inches (pulgadas)
cm - centimetros
mm - milimetros
*/