//variables se crean con el simbolo $
//Colores
$colorPrimario: #1b3d82;
$colorSecundario:rgb(22, 223, 89);
$negro:#000;
$azul:rgb(66, 11, 216);




.articulo {
    .titulo {
        color: #1b3d82;
    }
    p {
        color:$colorPrimario;
    }
}
//con control + d podes ver seleccionando un color en cuantos lugares esta aplicado.

