* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


body {
	background: #454350;
	font-family: Arial, sans-serif;
	font-size: 16px;
}


.contenedor {
	width: 90%;/*1000px; para que nuestra pantalla sea adaptable cambiamos a % y pone 90% para que el 10% restante sea un espaciado para que se vea mejor*/
	max-width: 1000px;/*para que no se vea grande, le ponemos un max. al .contenedor */
	margin: 20px auto;/*por ultimo centramos con auto para los lados!!!*/
	overflow: hidden;
}

header {
	background: #fff;
}

header nav {
	width: 100%;
}

header nav ul {
	width: 100%;
	overflow: hidden;
	list-style: none;/*le quitamos las viñetas*/
}

header nav ul li {
	float: left; /*se pone uno al lado del otro, como hay un error con float hay que ir al contenedor padre del li que es ul, y usar overflow :hidden*/
	/*display: inline-block; se puede poner uno al lado del otro , pero usa float falconmasters*/

}


header nav ul li a {
	text-decoration: none;
	display: inline-block;/*como los enlaces son inline, le damos display inline-block para poder agregarle padding */
	padding: 15px 20px;/*15pixeles arrib y abaj. , y 20 a los lados*/
	color: #000;
}
header nav ul li a:hover {
	background: #000;
	color: #fff;
}

.main {
	width: 70%; /*700px; cambiamos a % para que sea adaptable*/
	background: #fff;
	/*aca para que el aside se ponga al lado el aside hay que poner su float left. paso 2*/
	float: left;
}

.main .imagen {
	width: 100%;
}
.main .imagen img {
	width: 100%;
	vertical-align: top;/*elimina un pequeño margen que esta abajo, en contacto con el section .post*/
}


/*section*/

.main .posts {
	padding: 40px;
}
.main .posts article h2 {
	margin-bottom: 20px;/*margen exterior abajo para despegarse un poco del parrafo*/
	color: #424242;
}
.main .posts article p {
	margin-bottom: 15px;/*margen ext abajo*/
	line-height: 27px;/*separacion entre lineas*/
}

/*aside*/

aside {
	width: 30%; /*300px; recordemos que el main mide 700px y este como va al lado con 300px tenemos los 1000px del .contenedor// para que sea adaptable lo cambiamos a 30%*/
	background: #161f26;
	padding: 20px;
	color: #fff;
	/*aca para que el aside se ponga al lado del main, los dos deben tener su float :left   paso 1*/
	float: left; /*si usamos float, al contenedor padre(.contenedor) hay que ponerle overflow hiden*/
}

aside .widget {
	margin-bottom: 20px;
}

aside .widget .titulo {
	color: #ff8000;
	border-bottom: 1px solid #ff8000;
	margin-bottom: 10px;
}

aside .widget ul {
	list-style: none;
}

aside .widget ul li {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

aside .widget ul li a {
	color: #fff;
	text-decoration: none;
}
aside .widget ul li a:hover{
	color: #8f8f8f;
}


aside .widget p {
	line-height: 27px;
}

/* footer */
footer {
	width: 70%; /*700px; cambiamos a % para que sea adaptable*/
	background: #000;
	color: #fff;
	padding: 15px 0;
	text-align: center;
	/*overflow: hidden; se usa para corregir el error de float*/
	clear: both;/*con esto le decimos empeza en una nueva linea. es alternatico a overflow hidden*/
}



/* para ir encarando lo de adaptable, vamos a cambiar las medidas de pixeles para los contenedores a porcentaje %, aca lo hacemos en el .contenedor(con 90% de
la pag. +10% de espaciado) en el main 70% y el aside 30%; y en el pie de pagina 70%. */

/* el siguiente paso son los mediaQuerys 
##################################################################*/
@media screen and (max-width: 800px){/*cuando tenga un max de 800px para abajo ejecutame esto: */
	.main {
		width: 100%;
	}
	aside {
		width: 100%;
	}
	footer {
		width: 100%;
	}
}