* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	background: #000 url(img/fondo.jpg); /*podemos poner color y llamar a la imagen*/
	background-size: cover;/*para que abarque el 100% del body*/
	background-attachment: fixed;/*La propiedad CSS background-attachment determina si la posición de 
	la imagen de fondo será fija dentro de la pantalla o se desplazará 
	con su bloque contenedor.
	fixed
	Si fixed es especificado, la imagen de fondo estará fija en la pantalla y no se moverá con 
	el bloque contenedor.*/
}	
/* https://fonts.google.com */

.contenedor {
	margin: auto;
	/*margin: 20px; lo borra a lo ultimo para ponerlo arriba como auto*/
	width: 90%;
	max-width: 1000px;


	/*############################################### es contenedor padre y se le pone display flex*/
	display: flex;/*al contenedor padre le damos propiedad de flexbox*/
	flex-direction: row;/*al poner row, se ponen los hijos uno al lado del otro*/
	flex-wrap: wrap;/*si no ponemos esto todos se ponen en linea, hasta el header
	al poner flex  wrap , el header como no cabe ,se pone arriba y ocupa su 1005 del ancho..
	- el header ocupa el 100% del ancho del contenedor.
	- el main 70% y el aside 30% = 100% del ancho del .contenedor*/
}

header {
	width: 100%;
	padding: 50px 0; /*50 arri. y abaj y 0 a los lados*/



	/*############################################ es contenedor padre y se le pone display flex*/
	display: flex;
	flex-direction: row;/*se ponen uno al lado del otro*/
	justify-content: space-between;/*se ponen a la derecha */
	align-items: center;/*centra verticalmente*/
}

header .menu a {
	color: #fff;
	text-decoration: none;
	margin-right: 40px;
	font-size: 18px;
}
header .menu a:hover {
	text-decoration: underline;
}

.main {
	background: #fff;
	width: 70%;
	padding: 20px;
}

.main article .thumb {
	margin-bottom: 20px;
}

.main article .thumb img {
	width: 100%;/*que ocupe el 100% de su contenedor, sino se desborda*/
	vertical-align: top;/*ponerle a todas las imagenes , ya es adaptable*/
}

.main article h2 {
	margin-bottom: 20px;
	font-weight: normal;/*para que no sea negrita*/
	font-size: 32px;
}

.main article p {
	margin-bottom: 20px; /*margen abajo*/
	font-size: 14px;/*tamaño de fuente*/
	line-height: 27px;/*alto de la linea*/
}


aside {
	width: 30%;
	background: #537dca;
	padding: 20px;


	/*################################# es contenedor padre y se le pone display flex*/
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;/*el espacio sobrante lo pone en medio*/

}
aside .ad {
	font-size: 30px;
	text-align: center;
	color: #fff;
	padding: 50px 0; /*arriba/abajo 50px y 0 a los lados*/
	background: #4264a2;
	/*margin: 20px 0 ;*/
	width: 100%;
}

footer {
	margin: 20px 0;
	background: rgba(255, 255, 255, .2);
	padding: 20px;
	width: 100%;
	color: #fff;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;/*distribuimos el contenido con espacio en medio*/

}

footer .redes-sociales a {
	color: #fff;
	text-decoration: underline;
	margin-left: 20px;
}
footer .redes-sociales a:hover {
	text-decoration: none;
}

@media screen and (max-width: 800px) {
	.main {
		width: 100%;/*con esto como el sidebar (aside) ya no entra. se pone abajo del main*/

	}

	aside {
		width: 100%;
		flex-direction: row;
	}

	aside .ad {
		width: 40%;
	}
}

@media screen and (max-width: 600px) {
	header {
		flex-direction: column;/*en lugar de que un elemnt este uno al lado del otro, se pone abajo del logo.*/
		padding-bottom: 20px;
	}
	header .menu {
		width: 100%;
		background: rgba(255,255,255, .2);
		text-align: center;
		padding: 20px;
	}
	header .menu a {
		margin: 0 20px;
	}

	header .logo {
		margin-bottom: 20px;
	}

	footer {
		flex-direction: column;/*no queremos que esten uno al lado del otro*/
		text-align: center;
	}

	footer .autor {
		order: 2;/*cambiamos el orden*/
	}
	footer .redes-sociales {
		order: 1; /*cambiamos el orden*/
		margin-bottom: 20px;
	}

}

@media screen and (max-width: 400px) {
	aside {
		display: none; /*en 400px desaparece el aside*/
	}


}
