* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;


}


body {
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
    background: #f2f2f2;
}

.contenedor {
    width: 400px;
    margin: 40px ;
}

.formulario {
    .contenedor-inputs {
        padding: 20px;
        background: #fff;
        border-radius: 6px 6px 0 0 ;//solo en las puntas de arriba. acajo le redondeamos el boton
    }
    input[type="text"],
    input[type="email"]{
        display: block;//para que ocupen el ancho y no se pongan abajo uno del otro.
        width: 100%;
        margin-bottom: 20px;
        padding: 15px 10px;
        border: none;
        border-bottom: 2px solid #ccc;
        font-family: 'Slabo 27px', serif;
        font-size: 18px;
        &:focus{
            border-bottom: 2px solid #246eb9;
            outline: none; // ##############  corrije los bordes ##################
            
            // -Usamos la pseudoclase :focus para identificar cuando la caja de texto se le ha dado click y esta disponible para escritura
            // -Con outline: none; quitamos el borde por defecto que se coloca cuando ponemos el cursor del mouse
            //-Con border: 1px solid red; solo estamos poniendo un color distinto que haga que se note el cambio
            
        }
    }
    input[type="radio"]{
        display: none; //ocultado
        &:checked + .label-radio{// SOLUCIONADO !si no pongo & me genera un espacio yse compila mal . en el css hay el espacio antes de:checked
            background: #f28007;
        }
    
    }
    .sexo {
        display: flex;
        flex-wrap: nowrap;//La propiedad flex-wrap de CSS especifica si los elementos "hijos" son obligados a permanecer en una misma línea o pueden fluir en varias líneas. nowarp es el valor predeterminado { osea que no se pongan uno debajo del otro }
        justify-content: space-between;//La propiedad CSS justify-content define cómo el navegador distribuye el espacio entre y alrededor de los items flex, a lo largo del eje principal de su contenedor.justify-content: space-between >>> El primer item al inicio, el último al final */
        margin-bottom: 20px;
        .hombre {
            border-radius: 3px 0 0 3px;
        }
        .mujer {
            border-radius: 0 3px 3px 0;
        }
        
    }
    .label-radio {
        background: rgba(249,160,63, .4);
        color: #fff;
        padding: 10px;
        text-align: center;
        width: 49.5%;
    }
    .terminos {
        text-align: center;
        color: #424242;
        label {
            margin-left: 10px;
        }
    }
    .error {
        display: none;// lo comentamos antes para visualizarlo
        margin-top: 20px;
        border-radius: 3px;
        background: #de1f1f;
        color: #fff;
        padding: 15px 10px;
        padding-left: 40px;
    }
    .btn {
        width: 100%;
        text-align: center;
        background: #246eb9;
        color:fff;
        border: none;
        display: block;//como es en linea lo tranformamos a bloque y asi podemos poner  padding
        padding: 15px 10px;
        cursor: pointer;
        border-radius: 0 0 6px 6px;
        font-family: 'Slabo 27px', serif;
        &:hover {
            background: #4357ad;
        }
    }
}